@using ProjectManagementSystem.ViewModels
@using ProjectManagementSystem.Models
@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel
<div class="container">


    <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">项目</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-card-checklist"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.ProjectCount</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Sales Card -->
        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">用户</h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.UserCount</h6>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- End Customers Card -->
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="barChart"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <!-- Line Chart -->
                    <div id="timeBarChart"></div>
                    <!-- End Line Chart -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="fundChart"></div>
                </div>
            </div>
        </div>
    </div>


</div>



<a class="btn btn-primary" asp-action="AddData">添加数据</a>



@section Scripts{

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetBarData", "Home")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var options = {
                        series: data.series,
                        chart: {
                            type: 'bar',
                            height: 350,
                            stacked: true,
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                                dataLabels: {
                                    total: {
                                        enabled: true,
                                        offsetX: 0,
                                        style: {
                                            fontSize: '13px',
                                            fontWeight: 900
                                        }
                                    }
                                }
                            },
                        },
                        stroke: {
                            width: 1,
                            colors: ['#fff']
                        },
                        title: {
                            text: '项目任务状态'
                        },
                        xaxis: {
                            categories: data.categories
                        },
                        yaxis: {
                            title: {
                                text: undefined
                            },
                        },
                        fill: {
                            opacity: 1
                        },
                        legend: {
                            position: 'top',
                            horizontalAlign: 'left',
                            offsetX: 40
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#barChart"), options);
                    chart.render();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                series: [{
                    name: '天数',
                    data: []
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        borderRadius: 4,
                        borderRadiusApplication: 'end',
                        horizontal: true,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    categories: []
                },
                tooltip: {
                    x: {
                        show: true
                    },
                    y: {
                        formatter: function (value) {
                            return value;
                        }
                    }
                },
                title: {
                    text: '项目耗时'
                }
            }; // 这里应该有一个分号来结束对象的定义

            $.get('/Home/GetTimeBarData', function (data) {
                options.series[0].data = data.times;
                options.xaxis.categories = data.names;

                var timeBarChart = new ApexCharts(document.querySelector("#timeBarChart"), options);
                timeBarChart.render();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $.get('/Home/GetFundData', function (data) {
                console.log(data);  // print the data for debugging purposes
                var seriesData = data.map(item => {
                    return {
                        name: item.name,
                        data: item.date
                    };
                });
                var options = {
                    chart: {
                        type: 'line',
                        height: 350,
                        toolbar: {
                            show: true
                        },
                    },
                    series: seriesData,
                    xaxis: {
                        type: 'datetime',
                        labels: {
                            format: 'yyyy-MM-dd',
                        },
                    },
                    yaxis: {
                        title: {
                            text: '金额'
                        }
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    stroke: {
                        curve: 'smooth',
                    },
                };

                var fundChart = new ApexCharts(document.querySelector("#fundChart"), options);
                fundChart.render();
            });
        });
    </script>















}